In [78]:
import sqlite3

def run_chinook_queries(db_path):
    queries = {
        'Top 3 countries for sales': '''
            SELECT BillingCountry, SUM(Total) AS TotalSales
            FROM invoices
            GROUP BY BillingCountry
            ORDER BY TotalSales DESC
            LIMIT 3;
        ''',
        'City with Highest Sales': '''
            SELECT BillingCity, SUM(Total) AS TotalSales
            FROM invoices
            GROUP BY BillingCity
            ORDER BY TotalSales DESC
            LIMIT 1;
        ''',
        'Most valuable Customer': '''
            SELECT c.FirstName || ' ' || c.LastName AS Customer_Name, SUM(i.Total) AS Spend
            FROM customers c
            JOIN invoices i ON c.CustomerId = i.CustomerId
            GROUP BY Customer_Name
            ORDER BY Spend DESC
            LIMIT 1;
        ''',
        'Marketing Campaign: Customers who listen to Rock Music': '''
            SELECT DISTINCT c.Email, c.FirstName, c.LastName
            FROM customers c
            JOIN invoices i ON c.CustomerId = i.CustomerId
            JOIN Invoice_items il ON i.InvoiceId = il.InvoiceId
            JOIN tracks t ON il.TrackId = t.TrackId
            JOIN genres g ON t.GenreId = g.GenreId
            WHERE g.Name = 'Rock';
        ''',
        'Sales agent generated the most sales': '''
            SELECT e.FirstName || ' ' || e.LastName AS Agent_Name, SUM(i.Total) AS Total_Sales
            FROM employees e
            JOIN customers c ON e.EmployeeId = c.SupportRepId
            JOIN invoices i ON c.CustomerId = i.CustomerId
            WHERE e.Title = 'Sales Support Agent'
            GROUP BY Agent_Name
            ORDER BY Total_Sales DESC
            LIMIT 1;
        ''',
        'Average spending amount per customer': '''
            SELECT CustomerId, AVG(Total) AS AvgSpending
            FROM invoices
            GROUP BY CustomerId;
        ''',
        'Most popular music genres by number of tracks sold': '''
            SELECT g.Name AS Genre, COUNT(il.TrackId) AS TracksSold
            FROM invoice_items il
            JOIN tracks t ON il.TrackId = t.TrackId
            JOIN genres g ON t.GenreId = g.GenreId
            GROUP BY g.Name
            ORDER BY TracksSold DESC;
        '''
    }

    conn = sqlite3.connect('/Users/mac2025/Desktop/Continuous Education/Scaler/Sessions/Portfolio_projects/BeginnerSQLProject/chinook.db')
    cursor = conn.cursor()
    results = {}

    for key, query in queries.items():
        try:
            cursor.execute(query.strip().rstrip(';'))
            results[key] = cursor.fetchall()
        except sqlite3.ProgrammingError as e:
            print(f"Error in query '{key}': {e}")

    conn.close()
    return results

# Example usage:
db_path = 'chinook.db'
query_results = run_chinook_queries(db_path)
for title, data in query_results.items():
    print(f"{title}:")
    for row in data:
        print(row)
    print()

Top 3 countries for sales:
('USA', 523.06)
('Canada', 303.96)
('France', 195.1)

City with Highest Sales:
('Prague', 90.24)

Most valuable Customer:
('Helena Holý', 49.62)

Marketing Campaign: Customers who listen to Rock Music:
('lucas.mancini@yahoo.it', 'Lucas', 'Mancini')
('leonekohler@surfeu.de', 'Leonie', 'Köhler')
('ellie.sullivan@shaw.ca', 'Ellie', 'Sullivan')
('fernadaramos4@uol.com.br', 'Fernanda', 'Ramos')
('bjorn.hansen@yahoo.no', 'Bjørn', 'Hansen')
('daan_peeters@apple.be', 'Daan', 'Peeters')
('phil.hughes@gmail.com', 'Phil', 'Hughes')
('hleacock@gmail.com', 'Heather', 'Leacock')
('mphilips12@shaw.ca', 'Mark', 'Philips')
('wyatt.girard@yahoo.fr', 'Wyatt', 'Girard')
('ftremblay@gmail.com', 'François', 'Tremblay')
('kachase@hotmail.com', 'Kathy', 'Chase')
('luisg@embraer.com.br', 'Luís', 'Gonçalves')
('marc.dubois@hotmail.com', 'Marc', 'Dubois')
('fralston@gmail.com', 'Frank', 'Ralston')
('nschroder@surfeu.de', 'Niklas', 'Schröder')
('dominiquelefebvre@gmail.com', 'Dominique', 'Lefebvre')
('terhi.hamalainen@apple.fi', 'Terhi', 'Hämäläinen')
('edfrancis@yachoo.ca', 'Edward', 'Francis')
('mark.taylor@yahoo.au', 'Mark', 'Taylor')
('diego.gutierrez@yahoo.ar', 'Diego', 'Gutiérrez')
('manoj.pareek@rediff.com', 'Manoj', 'Pareek')
('alero@uol.com.br', 'Alexandre', 'Rocha')
('enrique_munoz@yahoo.es', 'Enrique', 'Muñoz')
('vstevens@yahoo.com', 'Victor', 'Stevens')
('camille.bernard@yahoo.fr', 'Camille', 'Bernard')
('puja_srivastava@yahoo.in', 'Puja', 'Srivastava')
('marthasilk@gmail.com', 'Martha', 'Silk')
('dmiller@comcast.com', 'Dan', 'Miller')
('fzimmermann@yahoo.de', 'Fynn', 'Zimmermann')
('kara.nielsen@jubii.dk', 'Kara', 'Nielsen')
('johngordon22@yahoo.com', 'John', 'Gordon')
('isabelle_mercier@apple.fr', 'Isabelle', 'Mercier')
('robbrown@shaw.ca', 'Robert', 'Brown')
('steve.murray@yahoo.uk', 'Steve', 'Murray')
('luisrojas@yahoo.cl', 'Luis', 'Rojas')
('stanisław.wójcik@wp.pl', 'Stanisław', 'Wójcik')
('eduardo@woodstock.com.br', 'Eduardo', 'Martins')
('michelleb@aol.com', 'Michelle', 'Brooks')
('tgoyer@apple.com', 'Tim', 'Goyer')
('jubarnett@gmail.com', 'Julia', 'Barnett')
('jacksmith@microsoft.com', 'Jack', 'Smith')
('johavanderberg@yahoo.nl', 'Johannes', 'Van der Berg')
('ricunningham@hotmail.com', 'Richard', 'Cunningham')
('hughoreilly@apple.ie', 'Hugh', "O'Reilly")
('roberto.almeida@riotur.gov.br', 'Roberto', 'Almeida')
('jenniferp@rogers.ca', 'Jennifer', 'Peterson')
('patrick.gray@aol.com', 'Patrick', 'Gray')
('astrid.gruber@apple.at', 'Astrid', 'Gruber')
('masampaio@sapo.pt', 'Madalena', 'Sampaio')
('fharris@google.com', 'Frank', 'Harris')
('hannah.schneider@yahoo.de', 'Hannah', 'Schneider')
('frantisekw@jetbrains.com', 'František', 'Wichterlová')
('ladislav_kovacs@apple.hu', 'Ladislav', 'Kovács')
('hholy@gmail.com', 'Helena', 'Holý')
('jfernandes@yahoo.pt', 'João', 'Fernandes')
('joakim.johansson@yahoo.se', 'Joakim', 'Johansson')
('aaronmitchell@yahoo.ca', 'Aaron', 'Mitchell')
('emma_jones@hotmail.com', 'Emma', 'Jones')

Sales agent generated the most sales:
('Jane Peacock', 833.04)

Average spending amount per customer:
(1, 5.659999999999999)
(2, 5.374285714285714)
(3, 5.659999999999999)
(4, 5.659999999999999)
(5, 5.8028571428571425)
(6, 7.088571428571428)
(7, 6.088571428571428)
(8, 5.374285714285714)
(9, 5.374285714285714)
(10, 5.374285714285714)
(11, 5.374285714285714)
(12, 5.374285714285714)
(13, 5.374285714285714)
(14, 5.374285714285714)
(15, 5.517142857142857)
(16, 5.374285714285714)
(17, 5.659999999999999)
(18, 5.374285714285714)
(19, 5.517142857142857)
(20, 5.659999999999999)
(21, 5.374285714285714)
(22, 5.659999999999999)
(23, 5.374285714285714)
(24, 6.231428571428571)
(25, 6.088571428571428)
(26, 6.8028571428571425)
(27, 5.374285714285714)
(28, 6.231428571428571)
(29, 5.374285714285714)
(30, 5.374285714285714)
(31, 5.374285714285714)
(32, 5.374285714285714)
(33, 5.374285714285714)
(34, 5.659999999999999)
(35, 5.374285714285714)
(36, 5.374285714285714)
(37, 6.231428571428571)
(38, 5.374285714285714)
(39, 5.517142857142857)
(40, 5.517142857142857)
(41, 5.374285714285714)
(42, 5.659999999999999)
(43, 5.8028571428571425)
(44, 5.945714285714286)
(45, 6.517142857142857)
(46, 6.517142857142857)
(47, 5.374285714285714)
(48, 5.8028571428571425)
(49, 5.374285714285714)
(50, 5.374285714285714)
(51, 5.517142857142857)
(52, 5.374285714285714)
(53, 5.374285714285714)
(54, 5.374285714285714)
(55, 5.374285714285714)
(56, 5.374285714285714)
(57, 6.659999999999999)
(58, 5.517142857142857)
(59, 6.1066666666666665)

Most popular music genres by number of tracks sold:
('Rock', 835)
('Latin', 386)
('Metal', 264)
('Alternative & Punk', 244)
('Jazz', 80)
('Blues', 61)
('TV Shows', 47)
('R&B/Soul', 41)
('Classical', 41)
('Reggae', 30)
('Drama', 29)
('Pop', 28)
('Soundtrack', 20)
('Sci Fi & Fantasy', 20)
('Hip Hop/Rap', 17)
('Bossa Nova', 15)
('Alternative', 14)
('World', 13)
('Heavy Metal', 12)
('Electronica/Dance', 12)
('Easy Listening', 10)
('Comedy', 9)
('Science Fiction', 6)
('Rock And Roll', 6)

**Insights**

1. **Top Sales Performance:** Which are the top 3 countries contributing to sales? **'USA', 'Canada', 'France'**
3. **Market Targeting:** Which city has the highest sales, making it a prime target for a promotional festival? **'Prague'**
5. **Customer Value Analysis:** Who is our most valuable customer based on total spending? **'Helena Holý'**
7. **Genre-based Marketing:** Which customers should be targeted for a Rock Music marketing campaign?
8. **Employee Performance**: Which sales support agent is the top performer in terms of sales generated? **'Jane Peacock'**
10. **Spending Behavior:** What is the average spending amount per customer?
11. **Product Analysis:** What are the most popular music genres based on the number of tracks sold? **'Rock'**